<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="archivos/css/bootstrap.min.css">
    <link rel="stylesheet" href="archivos/css/style.css">
    <title>Pagina web / demo </title>

    <body>