{{> head }}
{{> navbar }}

<div class="row">
 
    <div class="col-8">
         <h1> STAR WARS!</h1>
         <P>
             Que la fuerza te acompañe!
         </P>
    </div>

    <div class="col-4">
         <img src="archivos/img/starwars.jpg" class="img-thumbnail">
    </div>


</div>


{{> footer }}